[Desktop Entry]
Encoding=UTF-8
Name=Rubcoin
Comment=Rubcoin P2P Cryptocurrency
Comment[ru]=Rubcoin, P2P криптовалюта
Comment[fr]=Rubcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rubcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/rubcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/rubcoin80.xpm
MimeType=x-scheme-handler/rubcoin;
Categories=Office;
